Images/
*.RData
*.R
papers/
data/
*.Rproj
*.tex
*.jpg
*.jpeg
*.csv
*.txt
.DS_Store
Lec1_BCB410.tex
Lec1_BCB410.aux
*.dvi
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.vrb
*.aux
*.Rhistory
*.pptx
helpMaterial/
.R
*.pdf
